<div class="nav-block">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand" href="#"><img src="/images/news.png" width="30" height="30" alt=""></span>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="?category=protest">Protest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="?category=fight">Fight</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="?category=assault">Assault</a>
        </li>
    </ul>
</div>

<div class="table-responsive news-block">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>URL</th>
                <th>Actor One</th>
                <th>Actor Two</th>
                <th>Sentiment</th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
            <tr>
                <td><a href="{{this.source}}" target="blank">{{this.short}}</a></td>
                <td>{{this.name_one}}</td>
                <td>{{this.name_two}}</td>
                <td>{{this.avgtone}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>