<div class="row">
    <div class="col-4"><div id="map"></div></div>
    <div class="col-8 table-responsive news-block" id="info">
        <table id="top-ten-table" class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Top Ten Stories</th>
                    <th>Actor One</th>
                    <th>Actor Two</th>
                    <th>Goldstein</th>
                    <th>Sentiment</th>
                </tr>
            </thead>
            <tbody>
                {{#each stories}}
                <tr>
                    <td><a href="{{this.source}}" target="blank" id='{{this.globaleventid}}'>{{this.title}}</a></td>
                    <td>{{this.name_one}}</td>
                    <td>{{this.name_two}}</td>
                    <td>{{this.goldstein}}</td>
                    <td>{{this.avgtone}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
