<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand" data-date="{{this.date}}"><a href="?category=protest"><img src="/images/news.png" width="30" height="30" alt=""></a></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="?category=protest">Protest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?category=fight">Fight</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?category=assault">Assault</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?category=comment">Comment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?category=cooperate">Cooperate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?category=consult">Consult</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?category=aid">Aid</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" onclick="export_shapefile()" href="#">Export Shapefile</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">{{user}}</span>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row main-row">
        <div class="col-4"><div id="map"></div></div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" onclick="basic_search()" type="button">Filter</button>
                            </div>
                            <input type="text" class="form-control" placeholder="Input a Country . . ." aria-label="" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div> 
            <div id="top-ten" class="row">
                <div class="table-responsive news-block col-12" id="info">
                    <table id="top-ten-table" class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Event ID</th>
                                <th>Source</th>
                                <th>Actor One</th>
                                <th>Actor Two</th>
                                <th>Goldstein</th>
                                <th>Sentiment</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each stories}}
                            <tr>
                                <td><a id="globaleventid" href="{{this.source}}" data-globalid="{{this.globaleventid}}" target="blank">{{this.globaleventid}}</a></td>
                                <td>{{this.site}}</td>
                                <td>{{this.name_one}}</td>
                                <td>{{this.name_two}}</td>
                                <td>{{this.goldstein}}</td>
                                <td>{{this.avgtone}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 
</div>